header > img {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
nav{
    display: block;
    text-align: center;
    margin: auto 3rem auto 3rem;
}
nav ul{
    list-style: none;
    background-color: rgb(132, 163, 78);
}
nav li{
    display: inline-block;
    padding: 0.5rem 2rem;
    
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 3ch;
}
.offer{
    display: block;
    background-image: url('./images/japanese-japan-restaurant-culture.jpg');
    background-size: 100% 100%;
    margin: auto 3rem auto 3rem;
    height: 10rem;
    color: white;
    text-align: center;
}
.offer h1{
    font-family: 'Outfit',serif;
    font-size: 5ch;
    margin: 0;
    padding: 1.5rem 0 0.5rem 0;
}
.offer h3{
    font-family: 'Outfit', serif;
    margin: 0 0 1rem 0;
}
.offer button{
    width: 15%;
    height: 20%;
    background-color: transparent;
    color: white;
    font-family: 'Outfit',serif;
    font-size: 2.5ch;
    border: 2px solid white;
    transition: opacity 0.2s;
}
.offer button:hover{
    opacity: 0.8;
    cursor: pointer;
}
.offer:hover{
    animation: zoom 5s 2 linear alternate;
}
@keyframes zoom{
    0%{
        background-size: 100% 100%;
    }
    100%{
        background-size: 110% 110%;
    }
}
main section{
    display: flex;
    margin: auto 3rem auto 3rem;
}
main section article{
    flex: 1;
    width: 8rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 4px 1px grey;
    text-align: center;
    margin: 2rem 1rem 0 0;
    padding: 1rem 0 2rem 0;
}
article a{
    font-family: 'Outfit',serif;
    color: rgb(132, 163, 78);
    text-decoration: none;
    transition: color 0.2s;
}
article a:hover{
    color:rgb(73, 90, 44);
}
article>img{
    width: 90%;
    border-radius: 1rem;
}
article>h2{
    font-family: 'Outfit',serif;
    margin:8px auto 15px auto;
}
article>p{
    width: 80%;
    margin: auto;
    padding: 1rem;
    font-family: 'Outfit',serif;
}
footer {
    display: flex;
    margin: 2rem 3rem 1rem 3rem;
    height: 5.5rem;
    background-color: rgb(230, 226, 226);
}
div{
    flex: 1;
}
div img{
    width: 4rem;
    height: 4.5rem;
    margin: 0.5rem;
}
div hr{
    border: 1px solid black;
    margin: 1rem 0.2rem; 
}
div h3{
    font-family: 'Outfit',serif;
    text-align: right;
    margin-right: 0.2rem;
}

